<p class="c_section-sub-title">
  {%- unless vertical -%}
    <shg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
      <path d="M11.9303 6.86493C10.5503 5.80493 7.07031 1.90493 7.00031 1.80493C6.95031 1.90493 3.68031 5.54493 2.07031 6.86493C3.58031 8.09493 6.71031 11.5449 7.00031 12.1949C7.29031 11.5449 10.4303 8.02493 11.9303 6.86493Z" fill="#A38B51"/>
    </shg>
  {%- endunless -%}
  {{ title_sub }}
</p>
<h2 class="c_section-title">{{ title }}</h2>
{%- if vertical -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
      <path d="M11.9303 6.86493C10.5503 5.80493 7.07031 1.90493 7.00031 1.80493C6.95031 1.90493 3.68031 5.54493 2.07031 6.86493C3.58031 8.09493 6.71031 11.5449 7.00031 12.1949C7.29031 11.5449 10.4303 8.02493 11.9303 6.86493Z" fill="#A38B51"/>
    </svg>
{%- endif -%}

