:root {
  --font-dmSans-family: "DM Sans", sans-serif;
  --font-bodoniModa-family: "Bodoni Moda", sans-serif;
}

.c_image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}






/* セクションタイトル */

.c_section-sub-title {
  
}