@media (max-width: 989px) {
  .header {
    padding: 0.5px 20px;
  }
}

.c_header-menu-title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .c_header-menu-level-1 {
    padding: 0;
  }
}

.c_header-menu-title--en {
  font-family: "var(--font-bodoniModa-family)";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: rgba(var(--color-foreground), 1);
  margin-top: 8px;
}

.c_header-menu-title--ja {
  color: var(--2_text-gray, #4C4227);
  text-align: center;

  /* PC/JP/nav-sm（regular・10・150%・-12%） */
  font-family: "Zen Kaku Gothic New";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 15px */
  letter-spacing: -1.2px;
}

.c_menu-drawer__navigation .menu-drawer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}