c_parallax__image {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height, 0px));
}

.c_parallax-parallax-overlay {
 position: relative;
 z-index: 1;
}

.c_parallax-overlay__image {
  position: absolute;
  inset: 0;
}

.c_parallax__wrapper {
  por
}