c_parallax__image {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height, 0px));
}

.c_parallax-parallax-overlay {
 position: relative;
 z-index: 1;
}

.c_parallax-overlay__image {
  position: absolute;
  inset: 0;
}

.c_parallax-section {
  position: sticky;
  top: calc(var(--header-height, 0px));
}

.c_parallax__wrapper {
  position: relative;
}

.c_parallax__imag .c_image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_parallax__decoration__inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.c_parallax__decoration-image {
  aspect-ratio: 1;
  max-width: 230px;
}

@media (max-width: 750px) {
    .c_parallax__decoration-image {
      max-width: 180px;
  }
}

.c_parallax__decoration-image .c_image {
  position: static;
  width: auto;
  height: auto;
  max-width: 100%;
}

.c_parallax__decoration-text 